# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Django==2.2.28
django-parler==2.3
django-libs
Pillow
django-filer
django-cms
django-localized-names
